{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center title">Symfony / Puppeteer</h1>
        <div class="task-details">
            <h1>Task</h1>

            <table>
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ task.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ task.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ task.description }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ task.date ? task.date|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ task.status }}</td>
                </tr>
                </tbody>
            </table>

            <button class="btn primary" type="button" style="margin-top: 10px" onclick="window.location.href='{{ path('app_task_index') }}'">
                Back to list
            </button>
            <button class="btn secondary" type="button" onclick="window.location.href='{{ path('app_task_edit', {'id': task.id}) }}'">
               Edit
            </button>
        </div>
    </div>
{% endblock %}
